:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.todo-add-form {
    position: relative;

    .todo-add {
        position: absolute;
        right: 12px;
        bottom: 0px;
        cursor: pointer;
    }
}