<h1>TO-DO List</h1>
<div class="row">

       <div class="todo-add-form col-sm-12 offset-sm-0 col-md-6 offset-md-3 ">
              <label for="new-todo"
                     class="form-label">What needs to be done?</label>
              <input type="text"
                     id="new-todo"
                     class="form-control"
                     placeholder="new task"
                     autofocus=""
                     [(ngModel)]="newTodo.title"
                     (keyup.enter)="addTodo()" />
              <button class="btn btn-outline-success todo-add"
                      (click)="addTodo()">Add</button>

       </div>
</div>